.navBar {
  width: 100%;
  height: 48px;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d4d4d4;

  .navContainer {
    width: 1120px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;

    .navLogoContainer {
      width: 103px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .navMenuContainer {
      display: flex;
      align-items: center;

      a {
        height: 48px;
        display: flex;
        align-items: center;
        color: black;
        margin: 0 10px;

        &:hover {
          background-color: #00ff0000;
          border-bottom: 1px solid blue;
        }
      }

      .border {
        height: 20px;
        margin: 0 20px;
        border-right: 1px solid #d4d4d4;
      }

      .profileImgContainer {
        width: 30px;
        height: 30px;

        &:hover {
          opacity: 0.6;
        }

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }
}
